<!--&lt;!&ndash; <h2>User Profile</h2>-->

<!--<div *ngIf="userProfile">-->
<!--  <form (ngSubmit)="updateProfile()">-->
<!--    <label>-->
<!--      Name:-->
<!--      <input type="text" [(ngModel)]="userProfile.username" name="name" required />-->
<!--    </label>-->
<!--    <br />-->
<!--    <label>-->
<!--      Email:-->
<!--      <input type="email" [(ngModel)]="userProfile.useremail" name="email" required />-->
<!--    </label>-->
<!--    <br />-->
<!--    <button type="submit">Update Profile</button>-->
<!--  </form>-->
<!--</div>-->

<!--<div *ngIf="!userProfile">-->
<!--  <p>Loading user profile...</p>-->
<!--</div> &ndash;&gt;-->
