<h2 mat-dialog-title>Create Course</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="createCourse">
        <div class="example-container">
            <mat-form-field>
                <mat-label>Course Name</mat-label>
                <input type="text" matInput formControlName="coursename" required placeholder="Enter Cours Name"
                    required>
                <!-- <mat-error *ngIf="createCourse.controls['coursename'].hasError('required')">
                    Course name is required
                </mat-error> -->
            </mat-form-field>
        </div>


        <div class="example-container">
            <mat-form-field appearance="outline">
                <mat-label>Course Start Time</mat-label>
                <input matInput placeholder=" Start Time" type="date" formControlName="coursestartdate" required>
            </mat-form-field>
        </div>


        <div class="example-container">
            <mat-form-field>
                <mat-label>Course End Time</mat-label>
                <input type="date" matInput formControlName="courseenddate" required>
            </mat-form-field>
        </div>

        <div class="example-container">
            <mat-label>Image</mat-label>
            <input type="file" #file formControleName="courseimage" (change)="uploadImage(file.files)">
        </div>
        
        <div class="example-container">
            <mat-label>ِAction</mat-label>
          
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close style="background-color: rgb(21, 0, 255); color: white; border-radius: 25px; padding: 10px 20px; font-size: 16px; font-weight: bold; border: none; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">Cancel </button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="save()"    style="background-color: #03ae17; color: white; border-radius: 25px; padding: 10px 20px; font-size: 16px; font-weight: bold; margin-right: 10px; border: none; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);">Save</button>
</mat-dialog-actions>