<app-sidebar></app-sidebar>


<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="../../../assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">NiceAdmin</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->
</header>
<div id="BodyDashBorad">
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <div class="container-fluid" style="padding-top: 525px;">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                </div>

                <div class="col-lg-8 d-flex align-items-stretch" style="margin-right:200px;">
                    <div class="card w-100">
                        <div class="card-header">
                            <h5 class="card-title fw-semibold mb-4">All Trainer Sections</h5>

                        </div>
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-12">
                                    <button mat-button color="primary" (click)="openCreateDailog()">Create
                                        New</button>
                                    <button mat-button color="accent" (click)="loadTemplate()">Load Template</button>

                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table text-nowrap mb-0 align-middle">
                                    <thead class="text-dark fs-4">

                                        <tr>
                                            <th class="border-bottom-0">
                                                <h2 class="fw-semibold mb-1" style="padding: 20px;">TS ID</h2>
                                            </th>
                                            <th class="border-bottom-0">
                                                <h2 class="fw-semibold mb-1">Trainer Name</h2>
                                            </th>
                                            <th class="border-bottom-0">
                                                <h2 class="fw-semibold mb-1">Course Name</h2>
                                            </th>
                                            <th class="border-bottom-0">
                                                <h2 class="fw-semibold mb-1">Section link </h2>
                                            </th>
                                            <th class="border-bottom-0">
                                                <h2 class="fw-semibold mb-1">Section Start Time</h2>
                                            </th>
                                            <th class="border-bottom-0">
                                                <h2 class="fw-semibold mb-1">Section End Time</h2>
                                            </th>

                                            <th class="border-bottom-0">
                                                <h2 class="fw-semibold mb-1">Actions</h2>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let obj of sectionService.TrainerSections">
                                            <td>{{ obj.tsid }}</td>
                                            <td hidden>{{ obj.courseid }}</td>
                                            <td hidden>{{ obj.userid }}</td>
                                            <td>{{ obj.username }}</td>
                                            <td>{{ obj.coursename }}</td>
                                            <td>
                                                <button mat-button color="accent"
                                                    (click)="openLink(obj.sectionlink)">Open Link</button>
                                            </td>
                                            <td>{{ obj.sectionstarttime | date }}</td>
                                            <td>{{ obj.sectionendtime | date }}</td>

                                            <td>
                                                <button mat-button color="warn"
                                                    (click)="openAddTraineesDialog(obj.tsid, obj.courseid,obj.userid)">Add
                                                    Trainees</button>
                                                <button mat-button color="warn"
                                                    (click)="openDeleteDailog(obj.tsid)">Delete</button>
                                                <button mat-button color="primary"
                                                    (click)="openUpdateDailog(obj)">Update</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #callcreateDailog>
                <div class="dialog-container">
                    <h2 mat-dialog-title class="dialog-title">Create Trainer Section</h2>
                    <mat-dialog-content class="mat-typography">
                        <form [formGroup]="sectionForm" class="form-horizontal">
                            <!-- Row 1: Section Name and Trainer -->
                            <div class="form-row">
                                <mat-form-field class="form-field">
                                    <mat-label>Select from Courses</mat-label>
                                    <select matNativeControl formControlName="courseid">
                                        <option value="0" disabled selected>-- Please Select --</option>
                                        <option *ngFor="let course of courses" [value]="course.courseid">
                                            {{ course.coursename }}
                                        </option>
                                    </select>
                                </mat-form-field>

                                <mat-form-field class="form-field">
                                    <mat-label>Select Trainer</mat-label>
                                    <select matNativeControl formControlName="userid">
                                        <option value="0" disabled selected>-- Please Select --</option>
                                        <option *ngFor="let trainer of trainers" [value]="trainer.userid">
                                            {{ trainer.username }}
                                        </option>
                                    </select>
                                </mat-form-field>
                            </div>

                            <!-- Row 2: Meeting Link -->
                            <div class="form-row">
                                <mat-form-field class="form-field full-width">
                                    <mat-label>Meeting Link</mat-label>
                                    <input matInput type="text" formControlName="sectionlink"
                                        [(ngModel)]="pData.sectionlink" />
                                </mat-form-field>
                            </div>

                            <!-- Row 3: Start Time and End Time -->
                            <div class="form-row">
                                <mat-form-field class="form-field">
                                    <mat-label>Section Start Time</mat-label>
                                    <input matInput type="date" formControlName="sectionstarttime"
                                        [(ngModel)]="pData.sectionstarttime" />
                                </mat-form-field>

                                <mat-form-field class="form-field">
                                    <mat-label>Section End Time</mat-label>
                                    <input matInput type="date" formControlName="sectionendtime"
                                        [(ngModel)]="pData.sectionendtime" />
                                </mat-form-field>
                            </div>
                        </form>
                    </mat-dialog-content>

                    <mat-dialog-actions align="end" class="dialog-actions">
                        <button mat-button mat-dialog-close class="btn-cancel">Cancel</button>
                        <button mat-raised-button color="primary" [mat-dialog-close]="true"
                            (click)="save()">Save</button>
                    </mat-dialog-actions>
                </div>
            </ng-template>

            <ng-template #callDeleteDailog>
                <h1 mat-dialog-title>Delete Course</h1>
                <div mat-dialog-content>Are you sure you went to delete this item ? </div>
                <div mat-dialog-actions>
                    <button mat-button mat-dialog-close="yes">Yes</button>
                    <button mat-button mat-dialog-close="No">No</button>
                </div>
            </ng-template>
            <ng-template #TraineesDialog>
                <h1 mat-dialog-title>Add Trainees</h1>
                <div mat-dialog-content>
                    <p>Upload all Trainees using an XLSX file</p>
                    <input type="file" accept=".xlsx" (change)="onFileSelected($event)" />
                    <!-- Hidden inputs to store tsid and courseid -->
                    <input type="hidden" [value]="this.tsid" #tsidInput />
                    <input type="hidden" [value]="this.coursesid" #courseidInput />
                    <input type="hidden" [value]="this.Trainerid" #Traineridinput />

                </div>
                <div mat-dialog-actions>
                    <button mat-button mat-dialog-close>Cancel</button>
                    <button mat-button (click)="onUpload(tsidInput.value, courseidInput.value,Traineridinput.value)"
                        [mat-dialog-close]="true" [disabled]="!selectedFile">
                        Upload
                    </button>
                </div>
            </ng-template>


            <ng-template #callupdateDailog>
                <h2 mat-dialog-title>Update Course</h2>
                <mat-dialog-content class="mat-typography">
                    <form [formGroup]="updateCourse" class="form-horizontal">
                        <div class="example-container">
                            <mat-form-field class="form-field">
                                <mat-label>Select from Courses</mat-label>
                                <select matNativeControl formControlName="courseid">
                                    <option value="0" disabled selected>-- Please Select --</option>
                                    <option *ngFor="let course of courses" [value]="course.courseid">
                                        {{ course.coursename }}
                                    </option>
                                </select>
                                <input type="hidden" formControlName="tsid">
                            </mat-form-field>

                            <mat-form-field class="form-field">
                                <mat-label>Select Trainer</mat-label>
                                <select matNativeControl formControlName="userid">
                                    <option value="0" disabled selected>-- Please Select --</option>
                                    <option *ngFor="let trainer of trainers" [value]="trainer.userid">
                                        {{ trainer.username }}
                                    </option>
                                </select>
                            </mat-form-field>
                        </div>

                        <div class="form-row">
                            <mat-form-field class="form-field full-width">
                                <mat-label>Meeting Link</mat-label>
                                <input matInput type="text" formControlName="sectionlink" />
                            </mat-form-field>
                        </div>


                        <div class="form-row">
                            <mat-form-field class="form-field">
                                <mat-label>Section Start Time</mat-label>
                                <input matInput type="date" formControlName="sectionstarttime" />
                            </mat-form-field>

                            <mat-form-field class="form-field">
                                <mat-label>Section End Time</mat-label>
                                <input matInput type="date" formControlName="sectionendtime" />
                            </mat-form-field>
                        </div>
                    </form>
                </mat-dialog-content>

                <mat-dialog-actions align="end">
                    <button mat-button mat-dialog-close>Cancel</button>
                    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="ExecUpdate()">Save</button>
                </mat-dialog-actions>
            </ng-template>
        </div>
    </div>
</div>