<!--
<div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">CodingLab</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-box' ></i>
            <span class="links_name">Product</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Order list</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Analytics</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Stock</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="links_name">Total order</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-user' ></i>
            <span class="links_name">Team</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-message' ></i>
            <span class="links_name">Messages</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-heart' ></i>
            <span class="links_name">Favrorites</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Setting</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div> -->


  <aside class="main-sidebar custom-sidebar">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link text-center">
      <span class="brand-text">Trainer Dashboard</span>
    </a>
  
    <!-- Sidebar -->
    <div class="sidebar">
      <nav class="mt-3">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          <li class="nav-item">
            <a [routerLink]="['/trainer/dashboard/my-courses']" class="nav-link custom-nav-link" [routerLinkActive]="'active'">
              <i class="bx bx-book nav-icon"></i>
              <span class="links_name">Courses</span>
            </a>
          </li>
  
          <li class="nav-item">
            <a [routerLink]="['/trainer/dashboard/upload-material']" class="nav-link custom-nav-link" [routerLinkActive]="'active'">
              <i class="bx bx-upload nav-icon"></i>
              <span class="links_name">Upload Material</span>
            </a>
          </li>
  
          <li class="nav-item">
            <a [routerLink]="['/trainer/dashboard/attendance']" class="nav-link custom-nav-link" [routerLinkActive]="'active'">
              <i class="bx bx-calendar-check nav-icon"></i>
              <span class="links_name">Attendance</span>
            </a>
          </li>
  
          <li class="nav-item">
            <a [routerLink]="['/trainer/dashboard/assignments']" class="nav-link custom-nav-link" [routerLinkActive]="'active'">
              <i class="bx bx-task nav-icon"></i>
              <span class="links_name">Assignments</span>
            </a>
          </li>
  
          <li class="nav-item">
            <a [routerLink]="['/trainer/dashboard/exam-link']" class="nav-link custom-nav-link" [routerLinkActive]="'active'">
              <i class="bx bx-link nav-icon"></i>
              <span class="links_name">Exam Link</span>
            </a>
          </li>
  
          <li class="nav-item">
            <a [routerLink]="['/trainer/dashboard/profile']" class="nav-link custom-nav-link" [routerLinkActive]="'active'">
              <i class="bx bx-user nav-icon"></i>
              <span class="links_name">Profile</span>
            </a>
          </li>
  
          <li class="nav-item">
            <a [routerLink]="['/logout']" class="nav-link custom-nav-link logout-link" [routerLinkActive]="'active'">
              <i class="bx bx-log-out nav-icon"></i>
              <span class="links_name">Log Out</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  