<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">{{ courseTitle }}</div>
      <div class="card-body">
        <div *ngIf="!showContent">
          <div class="container-fluid">
            <div class="row justify-content-start">
              <div class="col-md-4 col-lg-4 col-xl-4 mb-4" *ngFor="let course of userCourses">
                <div class="card h-100">
                  <div class="card-header d-flex align-items-center">
                    <div class="rounded-circle bg-secondary me-3">
                      <img [src]="'assets/Images/' + course.courseimage" alt="" style="
                      width: 50px;
                      height: 50px;
                      border-radius: 50%;
                      ">
                    </div>
                    <div>
                      <div>{{ course.coursename }}</div>
                      <a href="{{course.sectionlink}}" target="_blank">
                        <div style="color: white !important;">link meeting</div>
                      </a>
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-text">
                      This section starts at: {{ course.coursestartdate | date : "shortDate" }}<br />
                      This section ends in: {{ course.courseenddate | date : "shortDate" }}<br />
                      This section starts on: {{ course.sectionstarttime | date : "shortTime" }}
                    </p>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary me-2" (click)="openContent(course)">Content</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-contentmaterial *ngIf="showContent" [course]="selectedCourse"></app-contentmaterial>
        <button *ngIf="showContent" class="btn btn-secondary" (click)="backToCourses()">Back to My Courses</button>

        <!-- <app-contentmaterial *ngIf="showContent"></app-contentmaterial>
        <button *ngIf="showContent" class="btn btn-secondary" (click)="backToCourses()">Back to My Courses</button> -->
      </div>
    </div>
  </div>
</div>




<!-- <div *ngIf="!showContent">
  <div class="container-fluid">
    <div class="row justify-content-start">
      <div class="col-md-4 col-lg-4 col-xl-4 mb-4" *ngFor="let course of userCourses">
        <div class="card h-100">
          <div class="card-header d-flex align-items-center">
            <div class="rounded-circle bg-secondary me-3" style="width: 40px; height: 40px"></div>
            <div>
              <div>{{ course.coursename }}</div>
              <a href="{{ course.sectionlink }}" target="_blank">
                <div>link meeting</div>
              </a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">
              This section starts at: {{ course.coursestartdate | date : "shortDate" }}<br />
              This section ends in: {{ course.courseenddate | date : "shortDate" }}<br />
              This section starts on: {{ course.sectionstarttime | date : "shortTime" }}
            </p>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->